<template>
  <div>
    <PageTitle title="Hotspots & Plaintiffs" />
    <div id="hidden-click">Test</div>
    <v-select
      v-model="selectedTimePeriod"
      :items="timePeriodDropdown"
      filled
      label="Time period"
      dense
      @change="changeTimePeriod($event)"
    ></v-select>
    
    <div class="map-and-table">

      <div class="table">
        <Table 
          v-if="this.dataChange > 0"
          tableId="hotspots"
          tableName="Frequent Plaintiffs"
          :key="dataChange"
        />
      </div>
      
      <div class="map">
        <MapboxMap 
          v-if="this.dataChange > 0"
        />
      </div>

    </div>
  </div>
</template>

<script> 
import PageTitle from '@/components/PageTitle'
import MapboxMap from '@/components/MapboxMap'
import Table from '@/components/Table'
import store from '@/store'

export default {
  name: 'Hotspots',

  components: { PageTitle, MapboxMap, Table },

  data () {
    return {
      selectedTimePeriod: '6 Months', //default
      grantee: '610050',
      dataChange: 0,
      timePeriods: [
        { 'name': '6 Months', 'dataset': 'hotspotsData'},
        { 'name': '12 Months', 'dataset': 'hotspotsData2'}
      ],
      apiBaseRoute: 'https://lt2v6wga3l.execute-api.us-east-1.amazonaws.com/default/lsc-data-api?key=grantee-specific-test/',
      apiDatasets: {
        'countyBnd': 'counties.json',
        'countyPts': 'county_points.json',
        'countySubBnd': 'county_subdivisions.json',
        'countySubPts': 'county_subdivision_points.json',
        'tractBnd': 'tracts.json',
        'tractPts': 'tract_points.json',
        'blockGroupBnd': 'block_groups.json',
        'blockGroupPts': 'block_group_points.json',
        'officePts': 'offices_points.json',
        'saBnd': 'service_area_boundary_bf.json',
        'hotspotsData': 'hotspots_data.json',
        'hotspotsData2': 'hotspots_data_v2.json'
      }
    }
  },

  computed: {
    initialCaseData () {
      return this.timePeriods.filter(x => x.name === this.selectedTimePeriod)[0].dataset
    },
    
    timePeriodDropdown () {
      return this.timePeriods.map(x => x.name)
    }
  },

  async created () {
    // Load initial datasets needed for the map and table. Save them to vuex.
    const initialData = await Promise.all([this.getApiData(this.initialCaseData), this.getApiData('countyBnd'), this.getApiData('countyPts'), this.getApiData('saBnd'), this.getApiData('officePts')]);
    console.log('Initial data:', initialData)
    this.storeApiData(initialData)
  },

  methods: {
    getApiData: async function(dataset) {
      let data = fetch(`${this.apiBaseRoute}${this.grantee}/pew-legal-needs/${this.apiDatasets[dataset]}`)
      .then(function(response) { return response.json(); })
      .then(function(json) { 
        let storeObject = {}
        storeObject[dataset] = json.data
        return storeObject
      })
      .catch( err => { console.log(err) })

      return data
    },

    storeApiData: function(objects) { // For initial load
      let objectsCombined = Object.assign({}, ...objects)
      store.dispatch('setSpatialData', objectsCombined)
      this.dataChange = this.dataChange + 1
    },
    
    storeHotspotData: function(object) {
      store.dispatch('setHotspotData', object)
    },

    async changeTimePeriod (newTimePeriod) {
      let toFetch = this.timePeriods.filter(x => x.name === newTimePeriod)[0].dataset
      const newDataFetch = await Promise.all([this.getApiData(toFetch)])
      const newData = Object.values(newDataFetch[0])
      console.log('New data:', newData[0])

      this.storeHotspotData(newData[0])
      this.dataChange = this.dataChange + 1

      // Because Mapbox is going to be outside the declarative Vue flow, pass the v-select selection to this hidden div and listen for the click from Mapbox.
      document.getElementById('hidden-click').innerHTML = newTimePeriod
      document.getElementById('hidden-click').click()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/scss/shared.scss';

.map-and-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.map {
  min-width: 60rem;
  max-width: 60rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

#hidden-click {
  // visibility: hidden;
}
</style>