<template>
  <div>
    <PageTitle title="PHA Filings" />
  </div>
</template>

<script>
import PageTitle from '@/components/PageTitle'
export default {
  name: 'PHA',
  components: { PageTitle }
}
</script>

<style lang="scss" scoped>
@import '@/scss/shared.scss';

</style>