<template>
  <div>
    <PageTitle title="Trends in Filings, Representation, & Defaults" />
    <v-select
      v-model="selectedChart"
      :items="chartsDropdown"
      filled
      label="Choose a trend"
      dense
      @change="changeChart($event)"
    ></v-select>
    <highcharts v-if="chartOptions" :constructor-type="'stockChart'" :options="chartOptions"></highcharts>
  </div>
</template>

<script> 
import {Chart} from 'highcharts-vue'
import PageTitle from '@/components/PageTitle'
import Highcharts from 'highcharts'
import xrangeInit from 'highcharts/modules/xrange'
import stockInit from 'highcharts/modules/stock'

xrangeInit(Highcharts)
stockInit(Highcharts)

export default {
  name: 'Defaults',

  components: { PageTitle, highcharts: Chart },
  
  data () {
    return {
      selectedChart: 'Total eviction filings', //default
      selectedRange: 5, //default index of zoom
      charts: [
        { 'name': 'Total eviction filings', 'dataset': 'totals'},
        { 'name': 'Representation by party', 'dataset': 'rep_by_party'},
        { 'name': 'Default judgments', 'dataset': 'defaults'}
      ],
      datasets: { //these are placeholders, to be replaced by API call(s) on computed lifecycle hook
        "totals": [{
          'name': 'Total eviction filings',
          'data': [[1556544600000,51.15],[1556631000000,50.17],[1556717400000,52.63],[1556803800000,52.29],[1556890200000,52.94],[1557149400000,52.12],[1557235800000,50.72],[1557322200000,50.72],[1557408600000,50.18],[1557495000000,49.29],[1557754200000,46.43],[1557840600000,47.17],[1557927000000,47.73],[1558013400000,47.52],[1558099800000,47.25],[1558359000000,45.77],[1558445400000,46.65],[1558531800000,45.69],[1558618200000,44.92],[1558704600000,44.74],[1559050200000,44.56],[1559136600000,44.35],[1559223000000,44.58],[1559309400000,43.77],[1559568600000,43.33],[1559655000000,44.91],[1559741400000,45.63],[1559827800000,46.31],[1559914200000,47.54],[1560173400000,48.15],[1560259800000,48.7],[1560346200000,48.55],[1560432600000,48.54],[1560519000000,48.19],[1560778200000,48.47],[1560864600000,49.61],[1560951000000,49.47],[1561037400000,49.87],[1561123800000,49.69],[1561383000000,49.65],[1561469400000,48.89],[1561555800000,49.95],[1561642200000,49.94],[1561728600000,49.48],[1561987800000,50.39],[1562074200000,50.68],[1562160600000,51.1],[1562333400000,51.06],[1562592600000,50.01],[1562679000000,50.31],[1562765400000,50.81],[1562851800000,50.44],[1562938200000,50.83],[1563197400000,51.3],[1563283800000,51.13],[1563370200000,50.84],[1563456600000,51.42],[1563543000000,50.65],[1563802200000,51.81],[1563888600000,52.21],[1563975000000,52.17],[1564061400000,51.76],[1564147800000,51.94],[1564407000000,52.42],[1564493400000,52.19],[1564579800000,53.26],[1564666200000,52.11],[1564752600000,51.01],[1565011800000,48.33],[1565098200000,49.25],[1565184600000,49.76],[1565271000000,50.86],[1565357400000,50.25],[1565616600000,50.12],[1565703000000,52.24],[1565789400000,50.69],[1565875800000,50.44],[1565962200000,51.63],[1566221400000,52.59],[1566307800000,52.59],[1566394200000,53.16],[1566480600000,53.12],[1566567000000,50.66],[1566826200000,51.62],[1566912600000,51.04],[1566999000000,51.38],[1567085400000,52.25],[1567171800000,52.19],[1567517400000,51.42],[1567603800000,52.3],[1567690200000,53.32],[1567776600000,53.31],[1568035800000,53.54],[1568122200000,54.17],[1568208600000,55.9],[1568295000000,55.77],[1568381400000,54.69],[1568640600000,54.97],[1568727000000,55.17],[1568813400000,55.69],[1568899800000,55.24],[1568986200000,54.43],[1569245400000,54.68],[1569331800000,54.42],[1569418200000,55.26],[1569504600000,54.97],[1569591000000,54.71],[1569850200000,55.99],[1569936600000,56.15],[1570023000000,54.74],[1570109400000,55.21],[1570195800000,56.75],[1570455000000,56.76],[1570541400000,56.1],[1570627800000,56.76],[1570714200000,57.52],[1570800600000,59.05],[1571059800000,58.97],[1571146200000,58.83],[1571232600000,58.59],[1571319000000,58.82],[1571405400000,59.1],[1571664600000,60.13],[1571751000000,59.99],[1571837400000,60.79],[1571923800000,60.9],[1572010200000,61.65],[1572269400000,62.26],[1572355800000,60.82],[1572442200000,60.81],[1572528600000,62.19],[1572615000000,63.96],[1572877800000,64.38],[1572964200000,64.28],[1573050600000,64.31],[1573137000000,64.86],[1573223400000,65.04],[1573482600000,65.55],[1573569000000,65.49],[1573655400000,66.12],[1573741800000,65.66],[1573828200000,66.44],[1574087400000,66.78],[1574173800000,66.57],[1574260200000,65.8],[1574346600000,65.5],[1574433000000,65.44],[1574692200000,66.59],[1574778600000,66.07],[1574865000000,66.96],[1575037800000,66.81],[1575297000000,66.04],[1575383400000,64.86],[1575469800000,65.43],[1575556200000,66.39],[1575642600000,67.68],[1575901800000,66.73],[1575988200000,67.12],[1576074600000,67.69],[1576161000000,67.86],[1576247400000,68.79],[1576506600000,69.96],[1576593000000,70.1],[1576679400000,69.93],[1576765800000,70],[1576852200000,69.86],[1577111400000,71],[1577197800000,71.07],[1577370600000,72.48],[1577457000000,72.45],[1577716200000,72.88],[1577802600000,73.41],[1577975400000,75.09],[1578061800000,74.36],[1578321000000,74.95],[1578407400000,74.6],[1578493800000,75.8],[1578580200000,77.41],[1578666600000,77.58],[1578925800000,79.24],[1579012200000,78.17],[1579098600000,77.83],[1579185000000,78.81],[1579271400000,79.68],[1579617000000,79.14],[1579703400000,79.43],[1579789800000,79.81],[1579876200000,79.58],[1580135400000,77.24],[1580221800000,79.42],[1580308200000,81.08],[1580394600000,80.97],[1580481000000,77.38],[1580740200000,77.17],[1580826600000,79.71],[1580913000000,80.36],[1580999400000,81.3],[1581085800000,80.01],[1581345000000,80.39]]
        }],
        'rep_by_party': [
          {
            'name': 'Represented plaintiffs',
            'data': [[1556544600000,51.15],[1556631000000,50.17],[1556717400000,52.63],[1556803800000,52.29],[1556890200000,52.94],[1557149400000,52.12],[1557235800000,50.72],[1557322200000,50.72],[1557408600000,50.18],[1557495000000,49.29],[1557754200000,46.43],[1557840600000,47.17],[1557927000000,47.73],[1558013400000,47.52],[1558099800000,47.25],[1558359000000,45.77],[1558445400000,46.65],[1558531800000,45.69],[1558618200000,44.92],[1558704600000,44.74],[1559050200000,44.56],[1559136600000,44.35],[1559223000000,44.58],[1559309400000,43.77],[1559568600000,43.33],[1559655000000,44.91],[1559741400000,45.63],[1559827800000,46.31],[1559914200000,47.54],[1560173400000,48.15],[1560259800000,48.7],[1560346200000,48.55],[1560432600000,48.54],[1560519000000,48.19],[1560778200000,48.47],[1560864600000,49.61],[1560951000000,49.47],[1561037400000,49.87],[1561123800000,49.69],[1561383000000,49.65],[1561469400000,48.89],[1561555800000,49.95],[1561642200000,49.94],[1561728600000,49.48],[1561987800000,50.39],[1562074200000,50.68],[1562160600000,51.1],[1562333400000,51.06],[1562592600000,50.01],[1562679000000,50.31],[1562765400000,50.81],[1562851800000,50.44],[1562938200000,50.83],[1563197400000,51.3],[1563283800000,51.13],[1563370200000,50.84],[1563456600000,51.42],[1563543000000,50.65],[1563802200000,51.81],[1563888600000,52.21],[1563975000000,52.17],[1564061400000,51.76],[1564147800000,51.94],[1564407000000,52.42],[1564493400000,52.19],[1564579800000,53.26],[1564666200000,52.11],[1564752600000,51.01],[1565011800000,48.33],[1565098200000,49.25],[1565184600000,49.76],[1565271000000,50.86],[1565357400000,50.25],[1565616600000,50.12],[1565703000000,52.24],[1565789400000,50.69],[1565875800000,50.44],[1565962200000,51.63],[1566221400000,52.59],[1566307800000,52.59],[1566394200000,53.16],[1566480600000,53.12],[1566567000000,50.66],[1566826200000,51.62],[1566912600000,51.04],[1566999000000,51.38],[1567085400000,52.25],[1567171800000,52.19],[1567517400000,51.42],[1567603800000,52.3],[1567690200000,53.32],[1567776600000,53.31],[1568035800000,53.54],[1568122200000,54.17],[1568208600000,55.9],[1568295000000,55.77],[1568381400000,54.69],[1568640600000,54.97],[1568727000000,55.17],[1568813400000,55.69],[1568899800000,55.24],[1568986200000,54.43],[1569245400000,54.68],[1569331800000,54.42],[1569418200000,55.26],[1569504600000,54.97],[1569591000000,54.71],[1569850200000,55.99],[1569936600000,56.15],[1570023000000,54.74],[1570109400000,55.21],[1570195800000,56.75],[1570455000000,56.76],[1570541400000,56.1],[1570627800000,56.76],[1570714200000,57.52],[1570800600000,59.05],[1571059800000,58.97],[1571146200000,58.83],[1571232600000,58.59],[1571319000000,58.82],[1571405400000,59.1],[1571664600000,60.13],[1571751000000,59.99],[1571837400000,60.79],[1571923800000,60.9],[1572010200000,61.65],[1572269400000,62.26],[1572355800000,60.82],[1572442200000,60.81],[1572528600000,62.19],[1572615000000,63.96],[1572877800000,64.38],[1572964200000,64.28],[1573050600000,64.31],[1573137000000,64.86],[1573223400000,65.04],[1573482600000,65.55],[1573569000000,65.49],[1573655400000,66.12],[1573741800000,65.66],[1573828200000,66.44],[1574087400000,66.78],[1574173800000,66.57],[1574260200000,65.8],[1574346600000,65.5],[1574433000000,65.44],[1574692200000,66.59],[1574778600000,66.07],[1574865000000,66.96],[1575037800000,66.81],[1575297000000,66.04],[1575383400000,64.86],[1575469800000,65.43],[1575556200000,66.39],[1575642600000,67.68],[1575901800000,66.73],[1575988200000,67.12],[1576074600000,67.69],[1576161000000,67.86],[1576247400000,68.79],[1576506600000,69.96],[1576593000000,70.1],[1576679400000,69.93],[1576765800000,70],[1576852200000,69.86],[1577111400000,71],[1577197800000,71.07],[1577370600000,72.48],[1577457000000,72.45],[1577716200000,72.88],[1577802600000,73.41],[1577975400000,75.09],[1578061800000,74.36],[1578321000000,74.95],[1578407400000,74.6],[1578493800000,75.8],[1578580200000,77.41],[1578666600000,77.58],[1578925800000,79.24],[1579012200000,78.17],[1579098600000,77.83],[1579185000000,78.81],[1579271400000,79.68],[1579617000000,79.14],[1579703400000,79.43],[1579789800000,79.81],[1579876200000,79.58],[1580135400000,77.24],[1580221800000,79.42],[1580308200000,81.08],[1580394600000,80.97],[1580481000000,77.38],[1580740200000,77.17],[1580826600000,79.71],[1580913000000,80.36],[1580999400000,81.3],[1581085800000,80.01],[1581345000000,80.39]]
          },
          {
            'name': 'Represented defendants',
            'data': [[1556544600000,51.15],[1556631000000,50.17],[1556717400000,52.63],[1556803800000,52.29],[1556890200000,52.94],[1557149400000,52.12],[1557235800000,50.72],[1557322200000,50.72],[1557408600000,50.18],[1557495000000,49.29],[1557754200000,46.43],[1557840600000,47.17],[1557927000000,47.73],[1558013400000,47.52],[1558099800000,47.25],[1558359000000,45.77],[1558445400000,46.65],[1558531800000,45.69],[1558618200000,44.92],[1558704600000,44.74],[1559050200000,44.56],[1559136600000,44.35],[1559223000000,44.58],[1559309400000,43.77],[1559568600000,43.33],[1559655000000,44.91],[1559741400000,45.63],[1559827800000,46.31],[1559914200000,47.54],[1560173400000,48.15],[1560259800000,48.7],[1560346200000,48.55],[1560432600000,48.54],[1560519000000,48.19],[1560778200000,48.47],[1560864600000,49.61],[1560951000000,49.47],[1561037400000,49.87],[1561123800000,49.69],[1561383000000,49.65],[1561469400000,48.89],[1561555800000,49.95],[1561642200000,49.94],[1561728600000,49.48],[1561987800000,50.39],[1562074200000,50.68],[1562160600000,51.1],[1562333400000,51.06],[1562592600000,50.01],[1562679000000,50.31],[1562765400000,50.81],[1562851800000,50.44],[1562938200000,50.83],[1563197400000,51.3],[1563283800000,51.13],[1563370200000,50.84],[1563456600000,51.42],[1563543000000,50.65],[1563802200000,51.81],[1563888600000,52.21],[1563975000000,52.17],[1564061400000,51.76],[1564147800000,51.94],[1564407000000,52.42],[1564493400000,52.19],[1564579800000,53.26],[1564666200000,42.11],[1564752600000,51.01],[1565011800000,48.33],[1565098200000,49.25],[1565184600000,49.76],[1565271000000,50.86],[1565357400000,50.25],[1565616600000,40.12],[1565703000000,52.24],[1565789400000,50.69],[1565875800000,50.44],[1565962200000,51.63],[1566221400000,52.59],[1566307800000,52.59],[1566394200000,43.16],[1566480600000,53.12],[1566567000000,50.66],[1566826200000,51.62],[1566912600000,51.04],[1566999000000,51.38],[1567085400000,52.25],[1567171800000,42.19],[1567517400000,51.42],[1567603800000,52.3],[1567690200000,53.32],[1567776600000,53.31],[1568035800000,53.54],[1568122200000,54.17],[1568208600000,45.9],[1568295000000,55.77],[1568381400000,54.69],[1568640600000,54.97],[1568727000000,55.17],[1568813400000,55.69],[1568899800000,55.24],[1568986200000,44.43],[1569245400000,54.68],[1569331800000,54.42],[1569418200000,55.26],[1569504600000,54.97],[1569591000000,54.71],[1569850200000,55.99],[1569936600000,46.15],[1570023000000,54.74],[1570109400000,55.21],[1570195800000,56.75],[1570455000000,56.76],[1570541400000,56.1],[1570627800000,56.76],[1570714200000,47.52],[1570800600000,59.05],[1571059800000,58.97],[1571146200000,58.83],[1571232600000,58.59],[1571319000000,58.82],[1571405400000,59.1],[1571664600000,50.13],[1571751000000,59.99],[1571837400000,60.79],[1571923800000,60.9],[1572010200000,61.65],[1572269400000,62.26],[1572355800000,60.82],[1572442200000,60.81],[1572528600000,52.19],[1572615000000,63.96],[1572877800000,64.38],[1572964200000,64.28],[1573050600000,64.31],[1573137000000,64.86],[1573223400000,65.04],[1573482600000,55.55],[1573569000000,65.49],[1573655400000,66.12],[1573741800000,65.66],[1573828200000,66.44],[1574087400000,66.78],[1574173800000,66.57],[1574260200000,55.8],[1574346600000,65.5],[1574433000000,65.44],[1574692200000,66.59],[1574778600000,66.07],[1574865000000,66.96],[1575037800000,66.81],[1575297000000,56.04],[1575383400000,64.86],[1575469800000,65.43],[1575556200000,66.39],[1575642600000,67.68],[1575901800000,66.73],[1575988200000,67.12],[1576074600000,57.69],[1576161000000,67.86],[1576247400000,68.79],[1576506600000,69.96],[1576593000000,60.1],[1576679400000,69.93],[1576765800000,70],[1576852200000,59.86],[1577111400000,71],[1577197800000,71.07],[1577370600000,72.48],[1577457000000,72.45],[1577716200000,62.88],[1577802600000,73.41],[1577975400000,75.09],[1578061800000,74.36],[1578321000000,74.95],[1578407400000,74.6],[1578493800000,75.8],[1578580200000,67.41],[1578666600000,77.58],[1578925800000,79.24],[1579012200000,78.17],[1579098600000,77.83],[1579185000000,78.81],[1579271400000,69.68],[1579617000000,79.14],[1579703400000,79.43],[1579789800000,79.81],[1579876200000,79.58],[1580135400000,77.24],[1580221800000,79.42],[1580308200000,61.08],[1580394600000,80.97],[1580481000000,77.38],[1580740200000,77.17],[1580826600000,79.71],[1580913000000,80.36],[1580999400000,81.3],[1581085800000,60.01],[1581345000000,80.39]]            
          },          
          {
            'name': 'Pro se plaintiffs',
            'data': [[1556544600000,51.15],[1556631000000,50.17],[1556717400000,52.63],[1556803800000,52.29],[1556890200000,52.94],[1557149400000,52.12],[1557235800000,50.72],[1557322200000,50.72],[1557408600000,50.18],[1557495000000,49.29],[1557754200000,46.43],[1557840600000,47.17],[1557927000000,47.73],[1558013400000,47.52],[1558099800000,47.25],[1558359000000,45.77],[1558445400000,46.65],[1558531800000,45.69],[1558618200000,44.92],[1558704600000,44.74],[1559050200000,44.56],[1559136600000,44.35],[1559223000000,44.58],[1559309400000,43.77],[1559568600000,43.33],[1559655000000,44.91],[1559741400000,45.63],[1559827800000,46.31],[1559914200000,47.54],[1560173400000,48.15],[1560259800000,48.7],[1560346200000,44.55],[1560432600000,48.54],[1560519000000,48.19],[1560778200000,48.47],[1560864600000,49.61],[1560951000000,49.47],[1561037400000,49.87],[1561123800000,49.69],[1561383000000,49.65],[1561469400000,48.89],[1561555800000,49.95],[1561642200000,49.94],[1561728600000,49.48],[1561987800000,40.39],[1562074200000,50.68],[1562160600000,51.1],[1562333400000,51.06],[1562592600000,50.01],[1562679000000,50.31],[1562765400000,50.81],[1562851800000,40.44],[1562938200000,50.83],[1563197400000,51.3],[1563283800000,51.13],[1563370200000,50.84],[1563456600000,51.42],[1563543000000,50.65],[1563802200000,41.81],[1563888600000,52.21],[1563975000000,52.17],[1564061400000,51.76],[1564147800000,51.94],[1564407000000,52.42],[1564493400000,42.19],[1564579800000,53.26],[1564666200000,52.11],[1564752600000,51.01],[1565011800000,48.33],[1565098200000,49.25],[1565184600000,49.76],[1565271000000,40.86],[1565357400000,50.25],[1565616600000,50.12],[1565703000000,52.24],[1565789400000,50.69],[1565875800000,50.44],[1565962200000,51.63],[1566221400000,42.59],[1566307800000,52.59],[1566394200000,53.16],[1566480600000,53.12],[1566567000000,50.66],[1566826200000,51.62],[1566912600000,51.04],[1566999000000,51.38],[1567085400000,42.25],[1567171800000,52.19],[1567517400000,51.42],[1567603800000,52.3],[1567690200000,53.32],[1567776600000,53.31],[1568035800000,53.54],[1568122200000,44.17],[1568208600000,55.9],[1568295000000,55.77],[1568381400000,54.69],[1568640600000,54.97],[1568727000000,55.17],[1568813400000,55.69],[1568899800000,45.24],[1568986200000,54.43],[1569245400000,54.68],[1569331800000,54.42],[1569418200000,55.26],[1569504600000,54.97],[1569591000000,54.71],[1569850200000,45.99],[1569936600000,56.15],[1570023000000,54.74],[1570109400000,55.21],[1570195800000,56.75],[1570455000000,56.76],[1570541400000,56.1],[1570627800000,56.76],[1570714200000,57.52],[1570800600000,59.05],[1571059800000,58.97],[1571146200000,58.83],[1571232600000,58.59],[1571319000000,58.82],[1571405400000,59.1],[1571664600000,40.13],[1571751000000,59.99],[1571837400000,60.79],[1571923800000,60.9],[1572010200000,61.65],[1572269400000,62.26],[1572355800000,60.82],[1572442200000,40.81],[1572528600000,62.19],[1572615000000,63.96],[1572877800000,64.38],[1572964200000,64.28],[1573050600000,64.31],[1573137000000,64.86],[1573223400000,45.04],[1573482600000,65.55],[1573569000000,65.49],[1573655400000,66.12],[1573741800000,65.66],[1573828200000,66.44],[1574087400000,66.78],[1574173800000,46.57],[1574260200000,65.8],[1574346600000,65.5],[1574433000000,65.44],[1574692200000,66.59],[1574778600000,66.07],[1574865000000,46.96],[1575037800000,66.81],[1575297000000,66.04],[1575383400000,64.86],[1575469800000,65.43],[1575556200000,66.39],[1575642600000,67.68],[1575901800000,46.73],[1575988200000,67.12],[1576074600000,67.69],[1576161000000,67.86],[1576247400000,68.79],[1576506600000,69.96],[1576593000000,70.1],[1576679400000,49.93],[1576765800000,70],[1576852200000,69.86],[1577111400000,71],[1577197800000,71.07],[1577370600000,72.48],[1577457000000,72.45],[1577716200000,72.88],[1577802600000,73.41],[1577975400000,75.09],[1578061800000,74.36],[1578321000000,74.95],[1578407400000,74.6],[1578493800000,75.8],[1578580200000,77.41],[1578666600000,77.58],[1578925800000,49.24],[1579012200000,78.17],[1579098600000,77.83],[1579185000000,78.81],[1579271400000,79.68],[1579617000000,79.14],[1579703400000,49.43],[1579789800000,79.81],[1579876200000,79.58],[1580135400000,77.24],[1580221800000,79.42],[1580308200000,81.08],[1580394600000,80.97],[1580481000000,47.38],[1580740200000,77.17],[1580826600000,79.71],[1580913000000,80.36],[1580999400000,81.3],[1581085800000,80.01],[1581345000000,40.39]]            
          },
          {
            'name': 'Pro se defendants',
            'data': [[1556544600000,51.15],[1556631000000,50.17],[1556717400000,52.63],[1556803800000,92.29],[1556890200000,52.94],[1557149400000,52.12],[1557235800000,50.72],[1557322200000,50.72],[1557408600000,50.18],[1557495000000,49.29],[1557754200000,96.43],[1557840600000,47.17],[1557927000000,47.73],[1558013400000,47.52],[1558099800000,47.25],[1558359000000,45.77],[1558445400000,46.65],[1558531800000,95.69],[1558618200000,44.92],[1558704600000,44.74],[1559050200000,44.56],[1559136600000,44.35],[1559223000000,44.58],[1559309400000,43.77],[1559568600000,93.33],[1559655000000,44.91],[1559741400000,45.63],[1559827800000,46.31],[1559914200000,47.54],[1560173400000,48.15],[1560259800000,48.7],[1560346200000,98.55],[1560432600000,48.54],[1560519000000,48.19],[1560778200000,48.47],[1560864600000,49.61],[1560951000000,49.47],[1561037400000,49.87],[1561123800000,99.69],[1561383000000,49.65],[1561469400000,48.89],[1561555800000,49.95],[1561642200000,49.94],[1561728600000,49.48],[1561987800000,50.39],[1562074200000,90.68],[1562160600000,51.1],[1562333400000,51.06],[1562592600000,50.01],[1562679000000,50.31],[1562765400000,50.81],[1562851800000,50.44],[1562938200000,90.83],[1563197400000,51.3],[1563283800000,51.13],[1563370200000,50.84],[1563456600000,51.42],[1563543000000,50.65],[1563802200000,51.81],[1563888600000,92.21],[1563975000000,52.17],[1564061400000,51.76],[1564147800000,51.94],[1564407000000,52.42],[1564493400000,52.19],[1564579800000,53.26],[1564666200000,92.11],[1564752600000,51.01],[1565011800000,48.33],[1565098200000,49.25],[1565184600000,49.76],[1565271000000,50.86],[1565357400000,50.25],[1565616600000,90.12],[1565703000000,52.24],[1565789400000,50.69],[1565875800000,50.44],[1565962200000,51.63],[1566221400000,52.59],[1566307800000,52.59],[1566394200000,93.16],[1566480600000,53.12],[1566567000000,50.66],[1566826200000,51.62],[1566912600000,51.04],[1566999000000,51.38],[1567085400000,52.25],[1567171800000,92.19],[1567517400000,51.42],[1567603800000,52.3],[1567690200000,53.32],[1567776600000,53.31],[1568035800000,53.54],[1568122200000,54.17],[1568208600000,95.9],[1568295000000,55.77],[1568381400000,54.69],[1568640600000,54.97],[1568727000000,55.17],[1568813400000,55.69],[1568899800000,55.24],[1568986200000,94.43],[1569245400000,54.68],[1569331800000,54.42],[1569418200000,55.26],[1569504600000,54.97],[1569591000000,54.71],[1569850200000,55.99],[1569936600000,96.15],[1570023000000,54.74],[1570109400000,55.21],[1570195800000,56.75],[1570455000000,56.76],[1570541400000,56.1],[1570627800000,56.76],[1570714200000,97.52],[1570800600000,59.05],[1571059800000,58.97],[1571146200000,58.83],[1571232600000,58.59],[1571319000000,58.82],[1571405400000,59.1],[1571664600000,90.13],[1571751000000,59.99],[1571837400000,60.79],[1571923800000,60.9],[1572010200000,61.65],[1572269400000,62.26],[1572355800000,60.82],[1572442200000,90.81],[1572528600000,62.19],[1572615000000,63.96],[1572877800000,64.38],[1572964200000,64.28],[1573050600000,64.31],[1573137000000,64.86],[1573223400000,95.04],[1573482600000,65.55],[1573569000000,65.49],[1573655400000,66.12],[1573741800000,65.66],[1573828200000,66.44],[1574087400000,66.78],[1574173800000,96.57],[1574260200000,65.8],[1574346600000,65.5],[1574433000000,65.44],[1574692200000,66.59],[1574778600000,66.07],[1574865000000,66.96],[1575037800000,96.81],[1575297000000,66.04],[1575383400000,64.86],[1575469800000,65.43],[1575556200000,66.39],[1575642600000,67.68],[1575901800000,66.73],[1575988200000,97.12],[1576074600000,67.69],[1576161000000,67.86],[1576247400000,68.79],[1576506600000,69.96],[1576593000000,70.1],[1576679400000,69.93],[1576765800000,90],[1576852200000,69.86],[1577111400000,71],[1577197800000,71.07],[1577370600000,72.48],[1577457000000,72.45],[1577716200000,72.88],[1577802600000,73.41],[1577975400000,75.09],[1578061800000,74.36],[1578321000000,74.95],[1578407400000,74.6],[1578493800000,75.8],[1578580200000,77.41],[1578666600000,77.58],[1578925800000,99.24],[1579012200000,78.17],[1579098600000,77.83],[1579185000000,78.81],[1579271400000,79.68],[1579617000000,79.14],[1579703400000,79.43],[1579789800000,99.81],[1579876200000,79.58],[1580135400000,77.24],[1580221800000,79.42],[1580308200000,81.08],[1580394600000,80.97],[1580481000000,77.38],[1580740200000,97.17],[1580826600000,79.71],[1580913000000,80.36],[1580999400000,81.3],[1581085800000,80.01],[1581345000000,80.39]]      
          }
        ],
        "defaults": [{
          'name': 'Default judgments',
          'data': [[1556544600000,11.15],[1556631000000,10.17],[1556717400000,12.63],[1556803800000,12.29],[1556890200000,12.94],[1557149400000,12.12],[1557235800000,10.72],[1557322200000,10.72],[1557408600000,10.18],[1557495000000,19.29],[1557754200000,16.43],[1557840600000,17.17],[1557927000000,17.73],[1558013400000,17.52],[1558099800000,17.25],[1558359000000,15.77],[1558445400000,16.65],[1558531800000,15.69],[1558618200000,14.92],[1558704600000,14.74],[1559050200000,14.56],[1559136600000,14.35],[1559223000000,44.58],[1559309400000,43.77],[1559568600000,43.33],[1559655000000,44.91],[1559741400000,45.63],[1559827800000,46.31],[1559914200000,17.54],[1560173400000,48.15],[1560259800000,48.7],[1560346200000,48.55],[1560432600000,48.54],[1560519000000,48.19],[1560778200000,48.47],[1560864600000,19.61],[1560951000000,49.47],[1561037400000,49.87],[1561123800000,49.69],[1561383000000,49.65],[1561469400000,48.89],[1561555800000,49.95],[1561642200000,19.94],[1561728600000,49.48],[1561987800000,50.39],[1562074200000,50.68],[1562160600000,51.1],[1562333400000,51.06],[1562592600000,50.01],[1562679000000,10.31],[1562765400000,50.81],[1562851800000,50.44],[1562938200000,50.83],[1563197400000,51.3],[1563283800000,51.13],[1563370200000,50.84],[1563456600000,11.42],[1563543000000,50.65],[1563802200000,51.81],[1563888600000,52.21],[1563975000000,52.17],[1564061400000,51.76],[1564147800000,51.94],[1564407000000,12.42],[1564493400000,52.19],[1564579800000,53.26],[1564666200000,52.11],[1564752600000,51.01],[1565011800000,48.33],[1565098200000,49.25],[1565184600000,19.76],[1565271000000,50.86],[1565357400000,50.25],[1565616600000,50.12],[1565703000000,52.24],[1565789400000,50.69],[1565875800000,50.44],[1565962200000,11.63],[1566221400000,52.59],[1566307800000,52.59],[1566394200000,53.16],[1566480600000,53.12],[1566567000000,50.66],[1566826200000,51.62],[1566912600000,11.04],[1566999000000,51.38],[1567085400000,52.25],[1567171800000,52.19],[1567517400000,51.42],[1567603800000,52.3],[1567690200000,53.32],[1567776600000,13.31],[1568035800000,53.54],[1568122200000,54.17],[1568208600000,55.9],[1568295000000,55.77],[1568381400000,54.69],[1568640600000,54.97],[1568727000000,15.17],[1568813400000,55.69],[1568899800000,55.24],[1568986200000,54.43],[1569245400000,54.68],[1569331800000,54.42],[1569418200000,55.26],[1569504600000,14.97],[1569591000000,54.71],[1569850200000,55.99],[1569936600000,56.15],[1570023000000,54.74],[1570109400000,55.21],[1570195800000,56.75],[1570455000000,16.76],[1570541400000,56.1],[1570627800000,56.76],[1570714200000,57.52],[1570800600000,59.05],[1571059800000,58.97],[1571146200000,58.83],[1571232600000,18.59],[1571319000000,58.82],[1571405400000,59.1],[1571664600000,60.13],[1571751000000,59.99],[1571837400000,60.79],[1571923800000,60.9],[1572010200000,11.65],[1572269400000,62.26],[1572355800000,60.82],[1572442200000,60.81],[1572528600000,62.19],[1572615000000,63.96],[1572877800000,64.38],[1572964200000,14.28],[1573050600000,64.31],[1573137000000,64.86],[1573223400000,65.04],[1573482600000,65.55],[1573569000000,65.49],[1573655400000,66.12],[1573741800000,15.66],[1573828200000,66.44],[1574087400000,66.78],[1574173800000,66.57],[1574260200000,65.8],[1574346600000,65.5],[1574433000000,65.44],[1574692200000,16.59],[1574778600000,66.07],[1574865000000,66.96],[1575037800000,66.81],[1575297000000,66.04],[1575383400000,64.86],[1575469800000,65.43],[1575556200000,16.39],[1575642600000,67.68],[1575901800000,66.73],[1575988200000,67.12],[1576074600000,67.69],[1576161000000,67.86],[1576247400000,68.79],[1576506600000,19.96],[1576593000000,70.1],[1576679400000,69.93],[1576765800000,70],[1576852200000,69.86],[1577111400000,71],[1577197800000,71.07],[1577370600000,72.48],[1577457000000,12.45],[1577716200000,72.88],[1577802600000,73.41],[1577975400000,75.09],[1578061800000,74.36],[1578321000000,74.95],[1578407400000,74.6],[1578493800000,15.8],[1578580200000,77.41],[1578666600000,77.58],[1578925800000,79.24],[1579012200000,78.17],[1579098600000,77.83],[1579185000000,78.81],[1579271400000,19.68],[1579617000000,79.14],[1579703400000,79.43],[1579789800000,79.81],[1579876200000,79.58],[1580135400000,77.24],[1580221800000,79.42],[1580308200000,11.08],[1580394600000,80.97],[1580481000000,77.38],[1580740200000,77.17],[1580826600000,79.71],[1580913000000,80.36],[1580999400000,81.3],[1581085800000,10.01],[1581345000000,80.39]]
        }],
      },
      chartOptions: null // to be produced programmatically
    }
  },


  computed: {
    chartsDropdown () {
      return this.charts.map(x => x.name)
    }
  },


  mounted () {
    this.changeChart() // load the initial chart
  },


  methods: {

    async changeChart () {
      let componentData = this

      let series = this.datasets[this.charts.filter(x => x.name === this.selectedChart)[0].dataset]

      this.chartOptions = {
        rangeSelector: {
            selected: this.selectedRange,
            // inputPosition: {
            //   align: 'left',
            //   x: 0,
            //   y: 0
            // },
            buttonPosition: {
              align: 'center',
              x: 0,
              y: 0
            },
            buttons: [{
                type: 'month',
                count: 1,
                text: '1 month',
                title: 'View past 1 month',
                events: { click: function() { componentData.selectedRange = 0 } }
            }, {
                type: 'month',
                count: 3,
                text: '3 months',
                title: 'View past 3 months',
                events: { click: function() { componentData.selectedRange = 1 } }
            }, {
                type: 'month',
                count: 6,
                text: '6 months',
                title: 'View past 6 months',
                events: { click: function() { componentData.selectedRange = 2 } }
            }, {
                type: 'ytd',
                text: 'YTD',
                title: 'View year to date',
                events: { click: function() { componentData.selectedRange = 3 } }
            }, {
                type: 'year',
                count: 1,
                text: '1 year',
                title: 'View past 1 year',
                events: { click: function() { componentData.selectedRange = 4 } }
            }, {
                type: 'all',
                text: 'All',
                title: 'View all',
                events: { click: function() { componentData.selectedRange = 5 } }
            }],
            buttonTheme: { // styles for the buttons
              fill: 'none',
              stroke: 'none',
              'stroke-width': 0,
              r: 8,
              width: 70,
              style: {
                  color: '#039',
                  fontWeight: 'bold',
              },
              states: {
                  hover: {
                  },
                  select: {
                      fill: '#039',
                      style: {
                          color: 'white'
                      }
                  }
                  // disabled: { ... }
              }
            },
            inputEnabled : false // The input (data pickers) don't seem to work very intuitively, or no?

            // inputBoxBorderColor: 'gray',
            // inputBoxWidth: 120,
            // inputBoxHeight: 18,
            // inputStyle: {
            //     color: '#039',
            //     backgroundColor: 'white',
            //     fontWeight: 'bold'
            // },
            // labelStyle: {
            //     color: 'silver',
            //     fontWeight: 'bold'
            // }
        },

        title: {
            text: this.selectedChart
        },

        series: series
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/scss/shared.scss';

</style>