<template>
<div>
  <div class="viz-title">Eviction hotspots</div>
  <div id="map-container">
    <v-expansion-panels accordion id="layer-controls" v-model="layerPanel">
      <v-expansion-panel key="index">
        <v-expansion-panel-header>Data and Options</v-expansion-panel-header>
        <v-expansion-panel-content>
          <div>
            <div class="layer-controls-header first-header">Data (color)</div>
            <div id="data-layers">
              <div v-for="col in toggleableCols" :key="col.colname">
                <input type="radio" 
                  :id="col.colname+'toggle'" 
                  name="data-layers"
                  :value="col.colname"
                  :checked="checkedByDefault(col.colname)"
                >
                <label :for="col.colname+'toggle'"> {{col.name}}</label><br>
              </div>
              <div>
                <input type="radio" id="show-no-data" name="data-layers" value="none">
                <label for="show-no-data"> None</label>
              </div>
            </div>
          </div>
          <div>
            <div class="layer-controls-header">Labels</div>
            <div id="label-layer">
              <div>
                <input type="radio" id="show-value-labels" name="label-layers" value="values">
                <label for="show-value-labels"> Data values</label>
              </div>
              <div>
                <input type="radio" id="show-county-labels" name="label-layers" value="names">
                <label for="show-county-labels"> County names</label>
              </div>
              <div>
                <input type="radio" id="show-no-labels" name="label-layers" value="none" checked>
                <label for="show-no-labels"> No labels</label>
              </div>
            </div>
          </div>
          <div>
            <div  class="layer-controls-header">Additional Layers</div>
            <div>
              <input type="checkbox" id="show-offices-layer" name="offices">
              <label for="show-offices-layer"> Show offices</label><br>
            </div>
            <div>
              <input type="checkbox" id="show-service-area-layer" name="serviceArea">
              <label for="show-service-area-layer"> Show service area boundary</label>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</div>
</template>

<script> 
import mapboxgl from "mapbox-gl";
import { calculateLinearColorScale, setChoroplethColor } from '@/js/map_utils.js'
import store from '@/store'
import { mapState } from 'vuex';

export default {
  name: 'MapboxMap',

  data () {
    return {
      scope: 'counties',
      layerPanel: 0, // the layers panel starts open by default. this is necessary for the elements to get assigned event listeners.
      accessToken: 'pk.eyJ1IjoibHNjLW9kZ2EiLCJhIjoiY2p3YXNjd2E5MDhrbDQ5bjQxZGRscXdycCJ9.OqlR963BX2EZfGyd7u2GqA',
      map: null,
      style: "mapbox://styles/mapbox/streets-v10", //outdoors-v11   light-v10
      grantee: '610050',
      bounds: [[-82.4,27.15],[-82.05, 28.55]],
      mapDefs: {
        /**
         * DEFINE THE DATA AND SOURCES SPECIFIC TO EACH MAP, KEYED BY EACH MAP'S ROUTE/PATH
         * For dataColumns, list all variables in the data file:
         *    -- "format" will be used to ensure proper displayed number formatting
         *    -- "toggleable" determines whether the variable's name is selectable in the layers control panel (some data might just be for pop-ups, on the other hand). The variable matching "defaultColName" will be displayed first.
         *    -- "relatedCols" are variables in the data that should be displayed in the pop-up
         */

        // CASES PER 10K ELIGIBLE PEOPLE
        'Hotspots': {
          dataColumns: [
            { colname: 'evictionsPerCapita', name: 'Evictions per capita', format: 'float', toggleable: true, relatedCols: ['evictions', 'people']},
            { colname: 'evictions', name: 'Evictions', format: 'int', toggleable: true, relatedCols: ['people', 'evictionsPerCapita']},
            { colname: 'people', name: 'People', format: 'int', toggleable: true, relatedCols: ['evictions', 'evictionsPerCapita']}
          ],
          defaultColName: 'evictionsPerCapita'
        }
      }
    }
  },

  computed: {
    mapUrlParam () {
      return this.$route.name
    },

    countiesList () {
      return this.hotspotsData.counties.map(function(x) { return x.fips })
      // return this.mapData.map(function(x) { return x.fips })
    },

    toggleableCols () {
      return this.mapDefs[this.mapUrlParam].dataColumns.filter(col => col.toggleable === true)
    },

    initialDataReady () {
      if (store.getters.countySpatialDataReady === true && 
          store.getters.granteeSpatialDataReady === true &&
          store.getters.hotspotsDataReady === true) {
        return true
      } else {
        return false
      }
    },

    ...mapState({
      saBnd: state => state.boundaries.saBnd,
      officePts: state => state.points.officePts,
      countyBnd: state => state.boundaries.countyBnd,
      countyPts: state => state.points.countyPts,
      hotspotsData: state => state.subjects.hotspotsData
    })
  },

  // created () {
  //   console.log('created')
  // },

  mounted () {
    // Watch for the data to be ready (is loaded into vuex from the parent/page component)
    // initialDataReady: function(status) {
    //   if (status === true) { 
    //     console.log('Initial data is ready.')
        
        mapboxgl.accessToken = this.accessToken
        this.$nextTick(() => this.mapSetup())
    //   }
    // }
  },

  methods: {
    checkedByDefault (colname) {
      if (colname === this.mapDefs[this.mapUrlParam].defaultColName) { return true } else { return false }
    },


    // THIS IS WHERE WE DEAL WITH MAPBOC IN AN IMPERATIVE PROGRAMMING WAY RATHER THAN DECLARATIVE. MAPBOX DOESN'T SEEM HAPPY WHEN ASSIGNING THE NEW MAPBOX MAP TO A DATA PROPERTY, MODIFYING IT THROUGH METHODS, AND SO FORTH. MAYBE I'M MISSING SOMETHING THERE. THERE ARE SOME FRAMEWORK MAPBOX GL WRAPPERS (PARTICULARLY REACT) BUT THE MAPBOX'S MAPBOX-REACT EXAMPLES ON GITHUB ARE ABOUT WHAT WE'RE DOING HERE, PLUS MOST MAPBOX GL DOCUMENTATION AND EXAMPLES ARE NOT WRITTEN IN A DECLARATIVE FASHION. SO, THIS APPROACH WILL HANDLE OUR USE CASE OKAY. 
    mapSetup: function() {
      let componentData = this
      let selectedVar = componentData.mapDefs[componentData.mapUrlParam].defaultColName
      let selectedLabelVar

      // this.map = new mapboxgl.Map({
      const map = new mapboxgl.Map({
        container: "map-container",
        style: this.style,
        bounds: this.bounds
      })

      // ZOOM CONTROLS
      map.addControl(new mapboxgl.FullscreenControl({container: document.querySelector('#map-container')}), 'top-left');

      const nav = new mapboxgl.NavigationControl({
        visualizePitch: true
      });
      map.addControl(nav, 'top-left');

      // GEO DATA (Saving these to variables here; otherwise Mapbox is throwing invalid geojson errors if trying to referencethem directly when adding layers)
      const boundaries = JSON.parse(JSON.stringify(this.saBnd))
      const offices = JSON.parse(JSON.stringify(this.officePts))
      const countiesList = JSON.parse(JSON.stringify(this.countiesList))
      const counties = JSON.parse(JSON.stringify(this.countyBnd))
      const countyPoints = JSON.parse(JSON.stringify(this.countyPts))
      
      // VALUES DATA
      let data = JSON.parse(JSON.stringify(this.hotspotsData[this.scope]))


      offices.features.forEach(function(f) {
        let iconName = f.properties.type === 'Main'? 'star' : 'marker'
        f.properties.icon = iconName
      })

      map.on('load', function () {

        // ADD GRANTEE OFFICES
        //--------------------
        const getStarIcon = new Promise((resolve) => {
          map.loadImage(require("../assets/star-15.png"),
            function (error, image) {
              if (error) throw error
              map.addImage('star', image)
            }
          )
          resolve()
        })
        const getMarkerIcon = new Promise((resolve) => {
          map.loadImage(require("../assets/marker-15.png"),
            function (error, image) {
              if (error) throw error
              map.addImage('marker', image)
            }
          )
          resolve()
        })

        Promise.all([getStarIcon, getMarkerIcon])
        .then(() => {

          map.addSource('offices', {
            'type': 'geojson',
            'data': offices
          });

          map.addLayer({
            'id': 'offices',
            'type': 'symbol',
            'source': 'offices',
            'layout': {
              'visibility': 'none',
              'icon-image': ['get', 'icon'],
              'icon-size': 0.37,
              'icon-allow-overlap': true
            }
          })
        })



        // ADD COUNTY BOUNDARIES AND COLOR BY THE INITIAL DATA POINT
        //----------------------------------------------------------
        let defaultCountyOutline = '#000';

        map.addSource("counties", {
          "type": "geojson",
          "data": counties
        })

        map.addLayer({
          "id": "counties",
          "type": "fill",
          "source": "counties",
          'filter': ["in", "GEOID"].concat(countiesList),
          'paint': {
            'fill-opacity': 0.9,
            'fill-color': 'rgba(0, 0, 0, 0)',
            'fill-outline-color': defaultCountyOutline
          }
        })

          
        let colorGradient = ['#fff7fb', '#023858'];
        let colorScale = calculateLinearColorScale(data, componentData.mapDefs[componentData.mapUrlParam].defaultColName, colorGradient);
        // console.log(componentData.mapDefs[componentData.mapUrlParam].defaultColName)//colorScale())
        setChoroplethColor(map, 'counties', data, componentData.mapDefs[componentData.mapUrlParam].defaultColName, colorScale);



        // ADD COUNTY CENTROIDS WITH TEXT VALUE AS DEFAULT VARIABLE
        //---------------------------------------------------------

        // Create match expression from default variable
        let countyPointsMatchExp = ['match', ['get', 'fips']]
        data.forEach(function (d) {
          countyPointsMatchExp.push(d['fips'], String(d[componentData.mapDefs[componentData.mapUrlParam].defaultColName]));
        });
        countyPointsMatchExp.push("") //default value at the end

        map.addSource('countyPoints', {
          'type': 'geojson',
          'data': countyPoints
        });

        map.addLayer({
          'id': 'labels',
          'type': 'symbol',
          'source': 'countyPoints',
          'layout': {
            'visibility': 'none',
            'text-field': countyPointsMatchExp, //['get', 'name'],
            'text-font': [
              'Open Sans Bold',
              'Arial Unicode MS Bold'
            ],
            'text-size': 11,
            'text-transform': 'uppercase',
            'text-letter-spacing': 0.05,
          }
        })



        // ADD SERVICE AREA BOUNDARIES
        //----------------------------
        // Fill layer and line layer (cannot modify the boundary width on a fill layer)
        map.addSource("serviceArea", {
          "type": "geojson",
          "data": boundaries
        })

        map.addLayer({
          "id": "serviceAreaBoundary",
          "type": "line",
          "source": "serviceArea",
          "layout": {
            "visibility": "none",
          },
          "paint": {
            'line-color': '#E90000',
            'line-width': 3
          }
        })



        // LAYER CLICK AND HOVER LISTENERS (I.E. POPUPS)
        //-----------------------------

        // OFFICES
        //https://docs.mapbox.com/mapbox-gl-js/example/popup-on-hover/

        const officePopup = new mapboxgl.Popup({
          closeButton: false,
          closeOnClick: false
        })

        map.on('mouseenter', 'offices', function (e) {
          map.getCanvas().style.cursor = 'pointer'
            
          var coordinates = e.features[0].geometry.coordinates.slice()

          var description = `
            <div style='text-align: center'>
              <div style='padding-bottom: 4px'>
                <strong>${e.features[0].properties.name}</strong>
              </div>
              <hr>
              <div style='padding-top: 4px'>${e.features[0].properties.street}</div>
              <div>
                ${e.features[0].properties.city}, ${e.features[0].properties.state} ${e.features[0].properties.zip}
              </div>
              <div>
                [<i>${e.features[0].properties.type}</i>]
              </div>
            </div>`
          
          // Ensure that if the map is zoomed out such that multiple
          // copies of the feature are visible, the popup appears
          // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360
          }
          
          // Populate the popup and set its coordinates
          // based on the feature found.
          officePopup.setLngLat(coordinates).setHTML(description).addTo(map);
        })
            
        map.on('mouseleave', 'offices', function () {
          map.getCanvas().style.cursor = ''
          officePopup.remove()
        })


        // COUNTIES
        function formatInt(val) {
          return String(val.toLocaleString(undefined, {minimumFractionDigits: 0, maximumFractionDigits: 0}))
        }
        function formatFloat(val) {
          return String(val.toLocaleString(undefined, {minimumFractionDigits: 1, maximumFractionDigits: 1}))
        }
        function formatVal(colname, val) {
          let f = componentData.mapDefs[componentData.mapUrlParam].dataColumns.filter(x => x.colname === colname)[0].format
          if (f === 'int') {
            return formatInt(val)
          } else if (f === 'float') {
            return formatFloat(val)
          } else {
            return String(val)
          }
        }

        // function popupHtml(id) {
        //   // let c = id
        //   let varInfo = componentData.mapDefs[componentData.mapUrlParam].dataColumns.filter(x => x.colname === selectedVar)[0]
        //   let d = data.filter(x => x.fips === id)[0]

        //   // Note that it looks like the CSS styles need to be set inline here. Assigning classes and adding sylting for those class in the CSS of this template doesn't take effect.
        //   let text = `
        //     <div style="min-width: 250px">
        //       <div style="text-transform: uppercase; color: #5a5a5a; font-size: 0.85rem; margin-bottom: 8px; text-align: center; color: white; background-color: #175991; padding: 3px 1px; border-radius: 4px;">${d.name}</div>
        //       <div class="popup-var" style="display: flex; flex-wrap: nowrap; justify-content: space-between; font-size: 0.9rem; margin: 8px 0">
        //         <span class="popup-var-label">${varInfo['name']}</span>
        //         <span class="popup-var-value" style="font-weight: bold">${formatVal(selectedVar, d[selectedVar])}</span>
        //       </div>
        //       <div style="border-top: 1px solid #ddd; color: #5a5a5a; font-size: 0.85rem; font-style: italic; margin: 12px 0 8px 0; padding-top: 8px;">Related data:</div>
        //     `
        //   //Add related variables
        //   JSON.parse(JSON.stringify(varInfo['relatedCols'])).forEach(function (col) {
        //     let colInfo = componentData.mapDefs[componentData.mapUrlParam].dataColumns.filter(x => x.colname === col)[0]

        //     text = text + `<div class="popup-var" style="display: flex; flex-wrap: nowrap; justify-content: space-between; font-size: 0.9rem; margin: 8px 0">
        //         <span class="popup-var-label">${colInfo['name']}</span>
        //         <span class="popup-var-value">${formatVal(col, d[col])}</span>
        //       </div>
        //     </div>`
        //   })
          
        //   return text
        // }

        // const countyPopup = new mapboxgl.Popup({
        //   className: 'data-popup',
        //   closeButton: false,
        //   closeOnMove: true,
        //   closeOnClick: true,
        //   maxWidth: 'none'
        // })

        map.on('click', 'counties', function (e) {
          let features = map.queryRenderedFeatures(e.point, { layers: ['counties'] });
          let countyId = features[0].properties["GEOID"]

          // Save county selection to trigger showing the summary and common plaintiffs
          store.dispatch('setCountySelection', String(countyId))

          // countyPopup
          //   .setLngLat(e.lngLat)
          //   .setHTML(popupHtml(countyId))
          //   .addTo(map)
        })
        
        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'counties', function () {
          map.getCanvas().style.cursor = 'pointer'
        })
        
        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'counties', function () {
          map.getCanvas().style.cursor = ''
        })



        // LAYER SELECTION LISTENERS
        //--------------------------
        // Note that the layer selection v-expansion-panel is open by default or else the elements won't exist to receive the event listeners. To start out with the panel closed, switch to a different accordion setup.

        function createCountyPointsMatchExp (data) {

          let exp = ['match', ['get', 'GEOID']]

          data.forEach(function (d) {
            exp.push(
              d['fips'], // Change this to "GEOID" if that's the label used for the FIPS code
              formatVal(selectedVar, d[selectedVar])
            )
          });
          exp.push("")
          
          return exp
        }

        function updateChoropleth() {
          if (selectedVar !== 'none') {
            // Update choropleth
            colorScale = calculateLinearColorScale(data, selectedVar, colorGradient);
            setChoroplethColor(map, 'counties', data, selectedVar, colorScale);

            // Update labels
            if (selectedLabelVar === 'values') {
              map.setLayoutProperty('labels', 'text-field', createCountyPointsMatchExp(data))
              map.setLayoutProperty('labels', 'visibility', 'visible')
            }
            
          } else {
            // No choropleth if "none" radio button selected
            map.setPaintProperty('counties', 'fill-color', 'rgba(0, 0, 0, 0)')
            map.setPaintProperty('counties', 'fill-outline-color', defaultCountyOutline)

            if (selectedLabelVar === 'values') {
              map.setLayoutProperty('labels', 'visibility', 'none')
            }
          }
        }

        function updateLabels() {
          if (selectedLabelVar === 'values' && selectedVar !== 'none') {
            map.setLayoutProperty('labels', 'text-field', createCountyPointsMatchExp(data))
            map.setLayoutProperty('labels', 'visibility', 'visible');

          } else if (selectedLabelVar === 'names') {
            map.setLayoutProperty('labels', 'text-field', ['get', 'NAME'])
            map.setLayoutProperty('labels', 'visibility', 'visible');

          } else if (selectedLabelVar === 'none') {
            map.setLayoutProperty('labels', 'visibility', 'none');
          }
        }

        document.querySelectorAll('input[name="data-layers"]').forEach((elem) => {
          let a = elem
          a.addEventListener("change", function(event) {
            // countyPopup.remove()

            selectedVar = event.target.value
            selectedLabelVar = document.querySelectorAll('input[name="label-layers"]:checked')[0].value

            updateChoropleth()
          });
        });

        document.querySelectorAll('input[name="label-layers"]').forEach((elem) => {
          let a = elem
          a.addEventListener("change", function(event) {
            // countyPopup.remove()

            selectedLabelVar = event.target.value;
            selectedVar = document.querySelectorAll('input[name="data-layers"]:checked')[0].value

            updateLabels()
          });
        });

        document.getElementById('show-offices-layer').addEventListener('change', function(event) {

          if (event.currentTarget.checked) {
            map.setLayoutProperty('offices', 'visibility', 'visible');
          } else {
            map.setLayoutProperty('offices', 'visibility', 'none');
          }
        })

        document.getElementById('show-service-area-layer').addEventListener('change', function(event) {
          // countyPopup.remove()

          if (event.currentTarget.checked) {
            // map.setLayoutProperty('serviceAreaFill', 'visibility', 'visible');
            map.setLayoutProperty('serviceAreaBoundary', 'visibility', 'visible');
          } else {
            // map.setLayoutProperty('serviceAreaFill', 'visibility', 'none');
            map.setLayoutProperty('serviceAreaBoundary', 'visibility', 'none');
          }
        })



        // DATA CHANGE LISTENERS
        //--------------------------
        document.getElementById('hidden-click').addEventListener('click', function() {
          data = JSON.parse(JSON.stringify(store.state.subjects.hotspotsData)).counties
          updateChoropleth()
          updateLabels()
        })

        
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/mapbox-gl.css';
@import '../scss/shared.scss';

#map-container {
  width: 100%;
  height: calc(100vh - 125px);
  position: relative;
}
#layer-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 250px;
  max-width: 250px;
  border-radius: 4px;
  background-color: rgba(246, 246, 246, 0.85);
  z-index: 1;

  .v-expansion-panel-header {
    font-weight: bold;
    font-style: italic;
  }

  .layer-controls-header {
    color: #5a5a5a;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }

  .layer-controls-header:not(.first-header) {
    padding-top: 1rem;
  }
}
</style>