<template>
  <div class="page-title">{{ title }}</div>
</template>

<script> 
export default {
  name: 'PageTitle',
  props: {
    title: { type: String, required: true}
  }
}
</script>

<style lang="scss" scoped>
@import '@/scss/shared.scss';

.page-title {
  padding: 3rem 0 2rem;
  text-align: center;
  color: $bals-green;
  font-size: 2.5rem;
//   text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;;
}
</style>

