<template>
<div>
  <div class="table-etc">
    <div class="viz-title">Eviction stats in {{ locationName }}</div>
    <div class="stats-summary">
      <div class="stats-group">
        <div class="stat-header">Eviction Rate</div>
        <div class="stat-value" id="eviction-rate">{{ evictionRate }}</div>
      </div>
      <div class="stats-group">
        <div class="stat-header">Number of evictions</div>
        <div class="stat-value" id="num-evictions">{{ numEvictions }}</div>
      </div>
      <div class="stats-group">
        <div class="stat-header">Number of people</div>
        <div class="stat-value" id="num-people">{{ numPeople }}</div>
      </div>
    </div>

    <div id="table-container">
      <div class="viz-title">Most frequent plaintiffs in {{ locationName }}</div>

      <!-- <div id="table-title-and-search">
        <v-text-field
          class="table-search"
          v-model="search"
          :append-icon="icons.mdiMagnify"
          label="Search"
          single-line
          hide-details
          @input="trackFilteredData()"
        ></v-text-field>
      </div> -->

      <!-- removed :search="search" and @update:options="trackFilteredData()"-->
      <v-data-table v-if="tableData"
        disable-pagination
        hide-default-footer
        :headers="currentTableCols"
        :items="tableData"
        :items-per-page="10"
        item-key="name"
        class="elevation-1"
        ref="tableRef"
      >
        <!--https://stackoverflow.com/questions/57944894/how-to-format-vuetify-data-table-date-column-->
        <template 
          v-for="header in tableDefs[tableId].dataColumns.filter((header) => header.hasOwnProperty('formatter'))" 
          v-slot:[`item.${header.value}`]="{ value }">
          {{ header.formatter(value) }}
        </template>
      </v-data-table>
      <div id="download-buttons">
        <v-btn
          color="#005B99"
          dark
          id="to-excel-button"
          @click="download"
        >
          <v-icon
            left
            color="white"
            class="download-icon"
          >
            {{ icons.mdiDownload }}
          </v-icon>
          EXCEL
        </v-btn>
      </div>
    </div>
  </div>
</div>
</template>

<script> 
import { format } from 'd3-format'
import { mdiDownload, mdiMagnify } from '@mdi/js';
import store from '@/store'

export default {
  name: 'Table',

  props: {
    tableId: { type: String, required: true },
    tableName: { type: String, required: true }
  },

  data () {
    return {
      table: null,
      scope: 'overall',
      tableData: null,
      // search: '',
      // filteredData: null,
      grantee: '610050',
      evictionRate: null,
      numEvictions: null,
      numPeople: null,
      evictors: null,
      locationName: 'all 4 counties',
      tableDefs: {
        /**
         * DEFINITIONS FOR EACH TABLE (PER TABLEID PARAMETER PASSED TO THE COMPONENT)
         * For dataColumns, list all variables in the data file that will be shown on the table, in the desired order.
         * Formatter is from https://stackoverflow.com/questions/57944894/how-to-format-vuetify-data-table-date-column
         */
        
        // ??? fixed column version ? https://codepen.io/lzhoucs/pen/dqZvXr

        'hotspots': {
          // apiFiles: {
          //   'county': 'pqv_cases_per_10k_eligible_pop_by_county.json'
          // },
          dataColumns: [
            { value: 'name', text: 'Name', width: "200px", fixed: true},
            { value: 'evictions', text: 'Evictions', width: "100px", formatter: this.formatNoDecimal}
          ]
        }
      },
      icons: {
        mdiDownload: mdiDownload,
        mdiMagnify: mdiMagnify
      }
    }
  },

  computed: {
    cols () {
      return this.tableDefs[this.tableId].dataColumns.map(x => x.value)
    },

    currentTableCols () {
      return JSON.parse(JSON.stringify(this.tableDefs[this.tableId].dataColumns))
    },

    // hotspotsDataReady () {
    //   return store.getters.hotspotsDataReady
    // },

    hotspotData () {
      return store.state.subjects.hotspotsData
    },

    selectedCounty () {
      return store.state.selections.county
    }
  },

  // mounted () {
  //   // Watch for the data to be ready (is loaded into vuex from the parent/page component)
  //   // hotspotDataOriginal () {
  //     // if (this.hotspotsDataReady === true) { 

  //       // Filter out any columns not needed for the table
  //       // https://stackoverflow.com/questions/54907549/keep-only-selected-keys-in-every-object-from-array

  //     }
  //   }
  // },

  created () {
    // Load the data for all 4 counties combined

    // let hotspotDataFiltered = [this.hotspotDataOriginal.overall].map(o => this.cols.reduce((acc, curr) => {
    //   acc[curr] = o[curr];
    //   return acc;
    // }, {}));


    this.evictionRate = this.hotspotData.overall.evictionsPerCapita
    this.numEvictions = this.hotspotData.overall.evictions
    this.numPeople = this.hotspotData.overall.people

    let formattedData = this.convertDataForTable(JSON.parse(JSON.stringify(this.hotspotData.overall.evictors)))
    this.tableData = formattedData
    // this.filteredData = formattedData

  },

  watch: {
    // On county selection, update the stats
    selectedCounty (countyFips) {
      let countyData = this.hotspotData.counties.filter(x => x.fips === countyFips)[0]

      this.evictionRate = countyData.evictionsPerCapita
      this.numEvictions = countyData.evictions
      this.numPeople = countyData.people
      this.locationName = countyData.name

      let formattedData = this.convertDataForTable(countyData.evictors)
      this.tableData = formattedData
    }
  },

  methods: {

    convertDataForTable (object) {
      // console.log(object)
      let arr = []
      let sorted = Object.entries(object).sort((a,b) => b[1]-a[1])
      for (const [key, value] of sorted) {
        arr.push({'name': key, 'evictions': String(value)})
      }
      return arr
    },

    // trackFilteredData: function () {
    //   //https://github.com/vuetifyjs/vuetify/issues/8731
    //   this.$nextTick(() => {
    //     let items = this.$refs.tableRef.$children[0].filteredItems;
    //     let sortBy = this.$refs.tableRef.$children[0].options.sortBy;
    //     let sortDesc = this.$refs.tableRef.$children[0].options.sortDesc;
    //     let sorted = this.$refs.tableRef.$children[0].sortItems(items, sortBy, sortDesc);
    //     // console.log('Active Data:', sorted)
    //     this.filteredData = sorted
    //   })
    // },

    formatOneDecimal (value) {
      return format(",.1f")(value)
    },
    formatNoDecimal (value) {
      return format(",.0f")(value)
    },

    download: async function () {
      // https://medium.com/codeptivesolutions/working-with-excel-of-json-data-in-vuejs-using-xlsx-and-bootstrap-vue-9f40fc377d3c
      import('xlsx').then((XLSX) => {
        const ws = XLSX.utils.json_to_sheet(this.filteredData, 
          { header: this.cols }) //Sets the order of columns

        // Rename headers (replace key name with proper col name) after WS object is created
        // https://lifesaver.codes/answer/change-header%C2%B4s-title-when-using-json-to-sheet
        let range = XLSX.utils.decode_range(ws['!ref']);
        for(var C = range.s.r; C <= range.e.r; ++C) {
          var address = XLSX.utils.encode_col(C) + "1"; // <-- first row, column number C
          if(!ws[address]) continue;
          ws[address].v = this.tableDefs[this.tableId].dataColumns.filter(function(x) { return x.value === ws[address].v })[0].text;
        }

        // Write to Excel file
        const wb = XLSX.utils.book_new()
        XLSX.utils.book_append_sheet(wb, ws, 'data')
        XLSX.writeFile(wb,`${this.tableName}.xlsx`)
      })
      .catch((err) => { console.log(err) })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../scss/shared.scss';

.table-etc {
  min-width: 30rem;
  max-width: 30rem;
  flex-direction: column;
  padding: 2rem;

  .stats-summary {
    margin-bottom: 4rem;
    border-bottom: 1px solid #aaa;
  }

  .stats-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
#table-title-and-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: baseline;
}
.table-title {
  font-weight: bold;
}
// .table-search {
//   max-width: 25rem;
// }
#download-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
</style>