<template>
  <div id="app" data-app>
    <v-app-bar
      id="app-bar"
      color="white"
      elevate-on-scroll
    >
      <v-tabs 
        id="nav-tabs"
      >
        <v-tab :to="{name:'Home'}" exact>Home</v-tab>
        <v-tab :to="{name:'Hotspots'}" exact>Hotspots</v-tab>
        <v-tab :to="{name:'PHA'}" exact>PHA Filings</v-tab>
        <v-tab :to="{name:'Trends'}" exact>Trends</v-tab>
      </v-tabs>
    </v-app-bar>

    <router-view/>
  </div>
</template>

<style lang="scss">
@import '@/scss/shared.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#tabs-in-nav {
  display: flex;
  justify-content: center;
}
.v-slide-group__content.v-tabs-bar__content {
  justify-content: center;
}
#nav-tabs {
  color: $bals-green;
  font-weight: bold;

  .v-tab {
    // text-transform: none;
  }
  .v-tab:not(.v-tab--active) {
    color: black;
  }
  .v-tab.v-tab--active {
    font-weight: bold;
  }
}
</style>
