$bals-primary-blue: #005B99;
$bals-dark-blue: #003C65;
$bals-green: #00A9A1;
$bals-sky-blue: #5CCAE8;
$bals-light-blue: #E3FAFF;
$bals-yellow-highlight: #F1CA00;

.viz-title {
    font-weight: bold;
    color: $bals-dark-blue;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}